.search-form {
  max-width: 50%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 20px;
  }
  //button {
  //
  //}
  .search-btn {
    @include button;
  }
}


.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff2f8;
  margin: 5px auto;
  border-radius: 10px;
  width: fit-content;

  button {

    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #ded7da;
    outline: none;
    border-color: transparent;
    margin-left: 15px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    cursor: pointer;
  }
  p {
    margin: 0;
    font-size: 13px;
  }

  &.max-temp {
    p {
      font-size: 12px;

      span {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
